.container {
    height: 80vh;
    background-color: gray;
    display: flex;    
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
}

.item {
    /* flex-grow: 1;
    flex-basis: 0; */
    flex: 1;
    padding: 2em;
    border : 3px solid black;
    background: white;
}

/* .item:nth-child(1){
    flex-grow: 1;
}
.item:nth-child(2){
    flex-grow: 5;
}
.item:nth-child(3){
    flex-grow: 2;
}
.item:nth-child(4){
    flex-grow: 1;
}
.item:nth-child(5){
    flex-grow: 3;
} */
