body {
    background-color: #222;
}
.spaceship {
    width: 150px;
    height: 150px;
    background: url('../img/sprite_spaceship.png') no-repeat 0 0 / auto 150px;
    animation: spaceship-ani 1s infinite steps(17);
}


@keyframes spaceship-ani {
    to {
        background-position: -2550px 0;
    }
}