* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.itemWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    width: calc(25% - 7px);
    aspect-ratio: 6 / 5;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imgBox {
    width: 100%;
    height: 100%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.textBox p {
    color: white;
    margin: 5px 0 0;
    z-index: 3;
}

.textBox__name {
    font-weight: 500;
    font-size: 1em;
    opacity: 0;
    transform: translateY(50px);
}

.textBox__price {
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0;
    transform: translateY(50px);
}

.item:after {
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
}

.item:hover .textBox__name {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .textBox__price {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
}

.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
    transition: all 0.4s ease-in-out;
}

.item .textBox__price {
    transition: all 0.4s ease-in-out 0.1s;
}