* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr repeat(4, 2fr)  ;
    
}

.banner {
    grid-column: 1 / span 5;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-image: url('./img/banner.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .text {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    animation: titleText 1s ease-in-out;
}

@keyframes titleText {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }

    92% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    grid-column: 1 / 1;
    grid-row: 2;
    position: relative;
    margin: 10px;
}

.menu ul {
    padding: 0;
    align-items: center;
}

.menu ul li {
    list-style: none;
    left: 0;
    display: block;
}

.menu ul li a{    
    display: block;
    text-decoration: none;
    height: 30px;
    color: white;
    background-color: orange;
    align-items: center;
    text-align: center;
    margin: 2px;
    border-radius: 5px;
    padding: 4px;
}

.menu ul li span:hover {
    background-color: rgb(87, 58, 5);
}

.writeBtn {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.writeBtn .arrow {
    display: inline-block;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}

.writeBtn:hover .arrow {
    transform: translateX(50px);
}

.writeBtn:hover {
    background-color: #ffffff;
    color: #333333;
}

.items {
    overflow: hidden;
    grid-column: 2 / span 5;
    grid-row: 2 / span 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 10px;
}

.item {    
    width: calc(25% - 7px);
    aspect-ratio: 6 / 5;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 1%;
}

.imgBox {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.textBox p {
    color: white;
    margin: 5px 0 0;
    z-index: 3;
}

.textBox__name {
    font-weight: 500;
    font-size: 1em;
    opacity: 0;
    transform: translateY(50px);
}

.textBox__price {
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0;
    transform: translateY(50px);
}

.item:after {
    content: "aaa";
    display: block;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
}

.item:hover .textBox__name {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .textBox__price {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .imgBox img {
    transform: scale(1.1);
    filter: blur(3px);
}

.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
    transition: all 0.4s ease-in-out;
}

.item .textBox__price {
    transition: all 0.4s ease-in-out 0.1s;
}

@media screen and (max-width:767px){
    /* mobile */
    .banner {
        height: 160px;
    }
    .banner .text {
        font-size: 26px;
    }


}

@media screen and (min-width:768px) and (max-width:1024px) {
    /* tablet */
}